body {
  font-family: "Harmattan", sans-serif;
}

.ul-menu {
  background-color: #333;
  color: white;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

.li-menu {
  float: right;
}

.title-menu {
  font-size: 40px;
  display: inline;
}

.a-menu {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: block;
  padding: 17px;
}

.a-menu:hover {
  background-color: black;
}

.column {
  width: 50%;
  float: left;
  text-align: center;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.social {
  width: 25px;
  padding: 5px;
}

.left {
  width: 20%;
  float: left;
}

.right {
  width: 80%;
  float: left;
}

.row {
  padding: 5px;
}

.row:after {
  display: table;
  clear: both;
  content: "";
}

.main-bar {
  background-color: grey;
  display: block;
  height: 25px;
}

.main-bar span {
  background-color: teal;
  height: 25px;
  display: block;
  color: white;
}

.javascript {
  width: 90%;
  animation: javascript 2s;
}

.android {
  width: 70%;
  animation: android 2s;
}

.photoshop {
  width: 40%;
  animation: photoshop 2s;
}

.python {
  width: 60%;
  animation: python 2s;
}

.c {
  width: 80%;
  animation: c 2s;
}

.github {
  width: 50%;
  animation: github 2s;
}

.linux {
  width: 70%;
  animation: linux 2s;
}

.right li {
  list-style-type: none;
}

@keyframes javascript {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes android {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes photoshop {
  0% {
    width: 0%;
  }

  100% {
    width: 40%;
  }
}

@keyframes python {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

@keyframes c {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes github {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes linux {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

footer {
  background-color: #333;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}
